<div class="row">
  <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3">
    <form #f = "ngForm">
      <div class="card">
        <div class="card-body">
          <p class="display-4 text-center">Login Form</p>
          <!-- Email -->
          <div class="form-group">
            <label for="email">Email : </label>
            <input type="email" name="email" 
                class="form-control"
                ngModel required email/>
          </div>
          <!-- Password -->
          <div class="form-group">
            <label for="password">Password : </label>
            <input type="password" name="password" 
                class="form-control"
                ngModel required minlength="6"/>
          </div>
          <div class="form-group">
            <button class="btn btn-block btn-sm btn-outline-primary"
                (click) = "onLogin(f)"
                [disabled] = "!f.valid">
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
