<!-- <ng-content select="header"></ng-content> -->

{{ user | json }}


<h3 appHighlight [favColor] = "'blue'" (theEvent) = "onTheEvent($event)">
    {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}</h3>

<!-- <p [ngClass]="['features', 'my-border']" > Date of Birth : <span [innerText]="user.dob"></span> </p> -->
<p [ngClass]="myDynamicClass" > 
    Date of Birth : <span [innerText]="user.dob | date : 'dd/MM/yyyy' "></span> </p>
<button class="btn btn-sm" (click)="onToggle()">Toggle</button>

<p *ngIf="user.isWorking; else ElseTemplate"> 
    Income : <span [innerText]="user.income | currency : 'INR' "></span> </p>
<!-- <p [ngStyle] = "myDynamicStyle"> Total Votes : <span [innerText]="user.votes"></span> -->
<p> Total Votes : <span [innerText]="user.votes"></span>
    <!-- <p>
        <ng-content></ng-content>
    </p> -->
    <br>
    <input type="number" [value]="user.votes" (change)="user.votes = $event.target.value">

    <input type="number" [(ngModel)]="user.votes">
</p>

<ng-template #ElseTemplate>
    Mr. {{user.lastName }} is not working now.
</ng-template>

<!-- <div [ngSwitch]="expr" >
    <div *ngSwitchCase="">1</div>
    <div *ngSwitchCase="2">2</div>
    <div *ngSwitchCase="">3</div>
</div> -->

<!-- <ng-content select = "footer"></ng-content> -->