.ng-invalid.ng-dirty[name="email"]{
    border-bottom: 3px tomato solid;
}
.ng-valid.ng-dirty[name="email"]{
    border-bottom: 3px greenyellow solid;
}
.ng-invalid.ng-dirty[name="password"]{
    border-bottom: 3px tomato solid;
}
.ng-valid.ng-dirty[name="password"]{
    border-bottom: 3px greenyellow solid;
}
.ng-invalid.ng-dirty[name="cnfPassword"]{
    border-bottom: 3px tomato solid;
}
.ng-valid.ng-dirty[name="cnfPassword"]{
    border-bottom: 3px greenyellow solid;
}