<!-- <h3>Title from Parent : {{ title }} </h3> -->

<!-- {{ users| json}} -->

<h4>Counter in Users : {{ dataService.counter }}</h4>
<button class="btn btn-light" (click)="onDecrement()">Decrement Counter</button>

<ul class="list-group">
    <li class="list-group-item" *ngFor="let user of users; index as i; first as isFirst; last as isLast; even as isEven; odd as isOdd">
        <!-- Index: {{ i }} || Even : {{ isEven }} || First : {{ isFirst }} || Odd : {{ isOdd }} || Last : {{ isLast }} -->
        <div class="row">
            <div class="col-4">
                <app-user-image (userEvent)="onMoreInfo($event)" 
                    [user]="user"></app-user-image>
            </div>
            <div class="col-8">
                <app-user-info [user]="user">
                    <header>Some Header Info</header>
                    <main>Main Content...</main>
                    <footer>Footer Info</footer>
                </app-user-info>
            </div>
        </div>
    </li>
</ul>