<div class="container">
  <app-header></app-header>
  <br />
  <br />
  <p class="text-center display-4">The Awesome App</p>

  <!-- <app-new-employee></app-new-employee> -->

  The HTML Snippets : {{ htmlSnippets }}

  <p [innerHTML] = "htmlSnippets">The paragraph...</p>

  <a (click)="dangerUrl" href="">Danger URL</a>
  <a (click)="safeUrl" href="">Safe URL</a>

  <hr />
  <router-outlet></router-outlet>

  <!--
  <input type="text" [(ngModel)] = "title">
  <br>
  <button class="btn btn-primary" (click)="showUsers = !showUsers" >Toggle Users Component</button> -->

  <!-- <app-pipe-demo></app-pipe-demo> -->

  <!-- <app-login></app-login> -->

  <!-- <app-register></app-register> -->

  <!-- <h3>Counter in App : {{ dataService.counter }}</h3>
  <button class="btn btn-dark" (click)="onIncrement()">Increment Counter</button> -->

  <!-- <app-observable-demo></app-observable-demo> -->

  <!-- <hr>
  <br> -->

  <!-- <app-users [title]="title" *ngIf="showUsers"></app-users> -->
  <!-- <app-users [title]="title" *ngIf="authService.isAuthenticated()"></app-users> -->
</div>
